# Ignore build and distribution directories
public/

# Ignore Node.js modules and package lock files
node_modules/
package-lock.json
yarn.lock

# Ignore specific files and directories
.eslintrc
.prettierrc.json
.vscode/
*.md
*.config.js
