@tailwind base;
@tailwind components;
@tailwind utilities;


.turbo-progress-bar {
  background: linear-gradient(to right,#b873a5,#3e5432);;
}

@keyframes appear-then-fade {
  0%, 100% {
    opacity:0
  }
  5%, 60% {
    opacity:1
  }
}
