<header class="flex items-center shadow-lg px-2 py-3 mb-3 bg-white">
  <% if user_signed_in? %>
    <div class="font-semibold text-xl text-indigo-800/70">
      <%= Current.company.name %>
    </div>
    <div class="font-semibold ml-auto mr-2 text-indigo-800/70">
      Hi, <%= current_user.name %>!
    </div>
    <%= button_to "Sign out",
          destroy_user_session_path,
          method: :delete,
          class: "bg-indigo-500 text-white p-2 rounded-sm hover:bg-indigo-600 hover:shadow-sm" %>
  <% else %>
    <%= link_to "Sign in",
          new_user_session_path,
          class: "bg-indigo-500 text-white p-2 rounded-sm hover:bg-indigo-600 hover:shadow-sm ml-auto" %>
  <% end %>
</header>
